/**
 * Webpack lets us import css from npm modules.
 */ 
@import "~famous/core/famous.css";

html {
  background: #fff;
}
canvas { border: 1px solid black; }

.double-sided {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
